<form method="post" action="/reviews">
  Track Review:<br>
  <input type="hidden" name="track_id" value="<%= track.id %>">
  <textarea name= "content" rows="5" cols="50"></textarea>
  <input value="Submit" type="submit">
</form>