<form method="post" action="/upvotes">
  <input type="hidden" name="track_id" value ="<%= track.id %>">
  <button class="btn btn-default glyphicon glyphicon-hand-up" type="submit">Likes</button>
</form>